// Fields
//
// General and field-specific styling goes here
//
.field--name-field-indication-approval {
  display: inline;
}
.field--name-field-indication-description {
  display: inline;
}
.field--name-field-indication p {
  margin-top: 0;
  display: inline;
}
