{% extends '@behave/content/node.html.twig' %}
{% set content %}
  Posted on: {{ date }}
  {{ content }}
  <div class="movie__readmore">
    <a href="{{ url }}">Read more...</a>
  </div>
{% endset %}
