<div class="layout-behavenet {{modifier_class}}">
  <div class="layout-behavenet__full">
    The <code>.layout-behavenet__full</code> grid item.
  </div>
  <div class="layout-behavenet__content">
    The <code>.layout-behavenet__content</code> grid item.
  </div>
  <div class="layout-behavenet__left-sidebar">
    The <code>.layout-behavenet__left-sidebar</code> grid item.
  </div>
  <div class="layout-behavenet__right-sidebar">
    The <code>.layout-behavenet__right-sidebar</code> grid item.
  </div>
</div>
